.create_note{
    border: 1px solid blue;
    width: 47%;
    float: right;
    padding-left: 5px;
}

.active_tasks{
    text-align: center;
    padding-top: 1%;
    width: 47%;
    float: left;
    border: 1px solid black;
}

.task_filter{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
}

input[type=radio]{
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fffd89;
    background-repeat: repeat-x;
  }

input[type=radio]:checked+label {
    outline: 0;
    background-color: #fffb00;
  }

.right_border{
    border-right: 1px solid black;
}

.color_bg{
    background-color: #DDA0DD;
}

.tablehead{
    background-color: #e83ce8;
}

.left_padding{
    padding-left: 1%;
}

.task_table {
    table-layout: fixed;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}