.create_note{
    width: 47%;
    float: right;
    padding-left: 5px;
}

.form_create_note{
    background-color: #e4d5f7;
    margin-left: 30%;
    margin-right: 31%;
    padding: 1%;
}

.active_tasks{
    text-align: center;
    padding-top: 1%;
    width: 47%;
    float: left;
    border: 1px solid black;
}

.task_filter{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
}

input[type=radio]{
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fffd89;
    background-repeat: repeat-x;
}

input[type=radio]:checked+label {
    outline: 0;
    background-color: #fffb00;
}

.right_border{
    border-right: 1px solid black;
}

.color_bg{
    background-color: #DDA0DD;
}

.tablehead{
    background-color: #e83ce8;
}

.left_padding{
    padding-left: 1%;
}

.task_table {
    table-layout: fixed;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center{
    text-align: center;
}

input[type=checkbox]+label {
    text-align: center;
    display: inline-block;
    color: #89ffa1;
    width: 100%;
    height: 100%;
    line-height: 20px;
    cursor: pointer;
    background-color: #89ffa1;
    background-repeat: repeat-x;
}

input[type=checkbox]:checked+label {
    text-align: center;
    outline: 0;
    color: #7300ff;
    background-color: #7300ff;
}